<mat-form-field>
	<mat-label>{{( existingEntryId ? "search.labelEdit" : searchLabel + "label") | translate }}</mat-label>
	<mat-icon matPrefix svgIcon="search"></mat-icon>
	<input
		type="text"
		[placeholder]="searchLabel + 'placeholder' | translate"
		aria-label="Adresse"
		matInput
		#trigger="matAutocompleteTrigger"
		[formControl]="inputFormControl"
		[errorStateMatcher]="instantErrorStateMatcher"
		[matAutocomplete]="auto"
		(paste)="onPaste($event)" />
	<button [obInputClear]="inputFormControl" (click)="clearInput()">
		<mat-icon svgIcon="cancel" class="ob-icon"></mat-icon>
	</button>
	<mat-icon
		matSuffix
		svgIcon="info-circle"
		*ngIf="!existingEntryId"
		[matTooltip]="searchLabel + 'tooltip' | translate"
		matTooltipPosition="after"></mat-icon>
	<mat-error *ngIf="inputFormControl.invalid">{{ inputFormControl.getError("searchInput") | translate }}</mat-error>
	<mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
		<mat-option *ngFor="let option of results$ | async" [value]="option">
			<div [outerHTML]="option.text"></div>
		</mat-option>
		<mat-option *ngIf="noResults" disabled>
			<span>{{searchLabel + 'noResults' | translate}}</span>
		</mat-option>
	  </mat-autocomplete>
</mat-form-field>
