.mat-icon[svgIcon='globe'] {
  margin-left: 5px;
}
.mat-icon[svgIcon='chevron-small-down'] {
  margin-left: 3px;
	margin-right: -5px;
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
mat-button-toggle-group {
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 14px;
  outline: none;
  /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
  mat-button-toggle {
    border-left: none !important;
  }
}
