.mat-icon[svgIcon='globe'] {
  margin-left: 5px;
}
.mat-icon[svgIcon='chevron-small-down'] {
  margin-left: 3px;
}

mat-button-toggle-group {
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 14px;
  outline: none;

  mat-button-toggle {
    border-left: none !important;
  }
}
