<div class="button-container">
	<button
		mat-button
		obButton="secondary"
		[matTooltip]="getCopyTooltip()"
		matTooltipPosition="after"
		matTooltipShowDelay="100"
		[cdkCopyToClipboard]="downloadService.getCopyToClipboardText()"
		(click)="downloadService.addressesCopied$.next()">
		{{ "toolbar.copy.label" | translate }}
		<mat-icon svgIcon="duplicate" class="ob-icon"></mat-icon>
	</button>
	<app-download-selector></app-download-selector>
	<app-coordinate-system-switch *ngIf="featureService.showCoordinateSystemSwitch"></app-coordinate-system-switch>
</div>
