mgl-map {
	height: 550px;
	width: 100%;
  background-color: #f5f5f5;
}

#mapLinkButton {
    font-size: 13px;
    height: 20px;
    line-height: 18px;
    background-color: rgba(255, 255, 255);
  }

::ng-deep {
  .mat-button-toggle-label-content {
    line-height: 20px !important;
    font-size: 13px;
  }
}
