@import 'node_modules/@oblique/oblique/styles/scss/core/variables';

table {
  width: 100%;
  font-size: 0.9rem;
  line-height: 35px;

  .mat-icon[svgIcon='repeat'] {
    color: rgba(0, 0, 0, 0.54);
  }

  .mat-column-trash,
  .mat-column-config {
    width: 30px;
  }

  .mat-column-edit {
    width: 70px;

    .mat-icon {
      margin-top: 2px;
      margin-bottom: -2px;
    }
  }

  .mat-column-wgs84_lat,
  .mat-column-wgs84_lon {
    width: 75px;
  }

  .mat-column-height {
    width: 140px;
  }

  .mat-column-lv95_lat,
  .mat-column-lv95_lon,
  .mat-column-lv03_lat,
  .mat-column-lv03_lon,
  .mat-column-egid {
    width: 100px;
  }

  .mat-icon[svgIcon='duplicate'] {
    color: #069;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s ease-in-out;
    margin-top: 2px;
    margin-bottom: -2px;
  }

  .mat-header-cell:hover .mat-icon[svgIcon='duplicate'],
  .mat-row:hover .mat-icon[svgIcon='duplicate'],
  .mat-column-config:hover .mat-icon[svgIcon='duplicate'] {
    visibility: visible;
    opacity: 1;
  }

  .mat-header-cell:hover .mat-icon[svgIcon='duplicate'],
  .mat-row:hover .mat-icon[svgIcon='duplicate'] {
    transition-delay: 1s;
  }

  .mat-column-config:hover .mat-icon[svgIcon='duplicate'] {
    transition-delay: 0s;
  }

  .icon-button {
    cursor: pointer;
    margin-left: 5px;
    margin-top: 3px;

    &:hover {
      color: #069;
    }

    &[svgIcon='warning-triangle'] {
      color: #e75e00;
    }
  }

  .highlight {
    background-color: $ob-light !important;
    transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1)
  }
}