table {
  width: 100%;
  font-size: 0.9rem;
  line-height: 35px;

  .mat-icon[svgIcon='repeat'] {
    color: rgba(0, 0, 0, 0.54);
  }

  .mat-column-trash {
    width: 30px;
  }
  
  .mat-column-config {
    width: 30px;
  }

  .mat-column-wgs84_lat {
    width: 75px;
  }
  .mat-column-wgs84_lon {
    width: 75px;
  }
  .mat-column-lv95_east {
    width: 95px;
  }
  .mat-column-lv95_north {
    width: 95px;
  }
  .mat-column-lv03_east {
    width: 95px;
  }
  .mat-column-lv03_north {
    width: 95px;
  }

  .icon-button {
    cursor: pointer;
    margin-left: 5px;
    margin-top: 3px;

    &:hover {
      color: #069;
    }

    &[svgIcon='warning-triangle'] {
      color: #e75e00;
    }
  }
}
