@import 'node_modules/@oblique/oblique/styles/scss/core/variables';

table {
  width: 100%;
  font-size: 0.9rem;
  line-height: 35px;

  .mat-icon[svgIcon='repeat'] {
    color: rgba(0, 0, 0, 0.54);
  }

  .mat-column-trash,
  .mat-column-config {
    width: 30px;
  }

  .mat-column-edit {
    width: 70px;
  }

  .mat-column-wgs84_lat,
  .mat-column-wgs84_lon {
    width: 75px;
  }

  .mat-column-height {
    width: 120px;
  }


  .mat-column-lv95_lat,
  .mat-column-lv95_lon,
  .mat-column-lv03_lat,
  .mat-column-lv03_lon {
    width: 100px;
  }

  .icon-button {
    cursor: pointer;
    margin-left: 5px;
    margin-top: 3px;

    &:hover {
      color: #069;
    }

    &[svgIcon='warning-triangle'] {
      color: #e75e00;
    }
  }

  .highlight {
    background-color: $ob-light !important;
    transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1)
  }
}