<app-search-input [searchMode]="coordinateSearchMode"></app-search-input>

<app-result-table
	*ngIf="addressService.hasAddresses$ | async"
	[currentSystem]="(coordinateService.currentSystem$ | async)!"
	></app-result-table>

<!-- <mat-tab-group animationDuration="400ms" [(selectedIndex)]="selectedMode">
	<mat-tab [label]="'mode.input' | translate">
		<ob-autocomplete
            [formControl]="input"
            [autocompleteOptions]="(results$ | async) || []">
        </ob-autocomplete> 
	</mat-tab>
	<mat-tab [label]="'mode.file' | translate">
		<app-file-upload-input (finished)="selectedMode = 0"></app-file-upload-input>
	</mat-tab>
</mat-tab-group>

<app-result-table
	*ngIf="addressService.hasAddresses$ | async"
	[currentSystem]="(coordinateService.currentSystem$ | async)!"
	(editHandler)="editedAddress = $event"></app-result-table>
</mat-tab-group> -->
