<h2 mat-dialog-title>{{ "columnConfigDialog.title" | translate }}</h2>
<mat-dialog-content class="mat-typography">
    <mat-selection-list #list cdkDropList (cdkDropListDropped)="drop($event)"
        (selectionChange)="onSelectionChange($event)">
        <section *ngFor="let item of items; let i=index" cdkDrag>
            <mat-list-option [value]="item" [checkboxPosition]="'before'" [selected]="item.active">
                {{ 'columns.' + item.key | translate }}
                <mat-icon [matTooltip]="'Nach unten' | translate" matTooltipPosition="after" matTooltipShowDelay="100"
                    svgIcon="arrow-down" class="ob-icon" style="float:right"
                    (click)="moveDown(i); $event.stopPropagation()"></mat-icon>

                <mat-icon [matTooltip]="'Nach oben' | translate" matTooltipPosition="after" matTooltipShowDelay="100"
                    svgIcon="arrow-up" class="ob-icon" style="float:right;margin-left: 30px; margin-right:10px"
                    (click)="moveUp(i); $event.stopPropagation()"></mat-icon>

            </mat-list-option>
            <mat-divider></mat-divider>
        </section>
    </mat-selection-list>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button obButton="tertiary" [mat-dialog-close]>
        {{ "i18n.common.cancel" | translate }}
    </button>
    <button mat-button obButton="primary" [mat-dialog-close] cdkFocusInitial (click)="save()">
        {{ "i18n.common.save" | translate }}
    </button>
</mat-dialog-actions>